@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply font-bold;
    height: 100vh;

    font-family: 'League Spartan', sans-serif;
    background-color: var(--body-color)
}